.projectList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 0 4px;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #606E97;
  }

  .projectBlock {
    display: flex;
    flex-flow: column nowrap;
    width: 48%;
    height: auto;
    margin-bottom: 15px;
    padding: 15px 10px;
    background-color: #afd4de;
    border-radius: 3px;
    border-bottom: 4px solid #ffa07d;
    transition-duration: 0.1s;

    &:hover {
      background-color: #a6ddeb;
      transition-duration: 0.2s;
      border-bottom: 4px solid #ff672f;
      cursor: pointer;
    }

    .projectBlockTitleDate {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      margin-bottom: 12px;

      .projectTitle {
        font-size: 18px;
        line-height: 26px;
        color: #001758;
        margin-bottom: 2px;
      }

      .projectStarted {
        font-size: 12px;
        color: #707070;
      }
    }

    .projectBlockDesc {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      width: 100%;
      overflow: hidden;
      margin-bottom: 10px;

      p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        width: 100%;
        height: 100%;
        font-size: 16px;
        line-height: 18px;
      }
    }

    .topicContainer,
    .folderContainer {
      display: flex;
      flex-flow: column nowrap;
      width: 100%;
      padding: 8px 0;

      .topicTitle,
      .folderTitle {
        font-size: 14px;
        margin-bottom: 3px;
      }

      .topicBar,
      .folderBar {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 100%;
        margin-bottom: 4px;

        .topicItem,
        .folderItem,
        .noTopic,
        .noFolder {
          display: flex;
          align-items: center;
          font-size: 12px;
          background-color: #20346D;
          border: 1px solid #001758;
          margin-right: 6px;
          padding: 3px 6px;
          color: #fff;
          font-weight: 500;
          border-radius: 3px;
          transition-duration: 0.1s;

          &:hover {
            color: #FF4D0C;
            transition-duration: 0.15s;
            cursor: pointer;
          }
        }

        .folderItem {
          background-color: #33206D;
          border: 1px solid #33206D;
        }

        .noTopic,
        .noFolder {
          background-color: #b9b9b9;
          border: none;
          color: #707070;

          &:hover {
            color: #707070;
            cursor: auto;
          }
        }
      }
    }

    .topicContainer {
      border-bottom: 1px solid #99BAC2;
    }
  }
}
